.display-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: none;
  background: tomato;
  height: 40px;
  text-shadow: none;
  font-weight: 600;
  box-shadow: 0 0 10px tomato;
  animation: blinkNeon 2s;
}

@keyframes blinkNeon {
  0% {
    background: none;
    text-shadow: none;
    box-shadow: none;
    color: none;
  }

  77% {
    background: inherit;
    text-shadow: 0 0 10px #e1c2ff;
    box-shadow: inherit;
    color: none;
  }
  78% {
    background: #333;
    text-shadow: none;
    box-shadow: inherit;
    color: none;
  }
  79% {
    background: inherit;
    text-shadow: inherit;
    box-shadow: inherit;
    color: #e1c2ff;
  }
  80% {
    background: #333;
    text-shadow: none;
    box-shadow: none;
    color: none;
  }

  81% {
    background: inherit;
    text-shadow: inherit;
    box-shadow: inherit;
    color: #e1c2ff;
  }

  85% {
    background: #333;
    text-shadow: none;
    box-shadow: none;
    color: none;
  }

  88% {
    background: inherit;
    text-shadow: inherit;
    box-shadow: inherit;
    color: #e1c2ff;
  }

  90% {
    background: #333;
    text-shadow: none;
    box-shadow: none;
  }
  90.5% {
    background: inherit;
    text-shadow: inherit;
    box-shadow: inherit;
    color: #e1c2ff;
  }

  100% {
    background: inherit;
    text-shadow: inherit;
    box-shadow: inherit;
    color: #e1c2ff;
  }
}

.display-link span:nth-child(1) {
  margin-right: 10px;
}

.display-link span:nth-child(2) {
  margin-right: 10px;
}
