.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  height: 60px;
}

.nav-bar {
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar__column {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60px;
}

.nav-bar__column:nth-child(1) {
  background: #291f63;
  box-shadow: 0 0 15px #291f63, 0 0 20px #291f63;
  border-radius: 10px;
}

.nav-bar__column {
  color: #fff;
  text-shadow: 0 0 15px #291f63, 0 0 15px #291f63;
}
