.screen-header {
  margin: 15px 0px 20px 0;
  display: flex;
  justify-content: space-between;
  color: #8672f8;
  text-shadow: 0 0 10px #8672f8, 0 0 15px #8672f8;
  align-items: center;
}

.screen-header__title span {
  font-size: 24px;
  font-weight: 600;
}

.screen-header__icons {
}

.screen-header__icons span {
  margin-left: 15px;
  font-size: 20px;
}

.display-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e1c2ff;
  background: tomato;
  height: 40px;
  text-shadow: 0 0 10px #e1c2ff;
  box-shadow: 0 0 10px tomato, 0 0 20px tomato;

  animation: blinkNeon 2s;
}

@keyframes blinkNeon {
  0% {
    background: none;
    text-shadow: inherit;
    box-shadow: none;
  }
  77% {
    background: inherit;
    text-shadow: inherit;
    box-shadow: inherit;
  }
  78% {
    background: #333;
    text-shadow: none;
    box-shadow: inherit;
  }
  79% {
    background: inherit;
    text-shadow: inherit;
    box-shadow: inherit;
  }
  80% {
    background: #333;
    text-shadow: none;
    box-shadow: none;
  }

  81% {
    background: inherit;
    text-shadow: inherit;
    box-shadow: inherit;
  }

  85% {
    background: #333;
    text-shadow: none;
    box-shadow: none;
  }

  88% {
    background: inherit;
    text-shadow: inherit;
    box-shadow: inherit;
  }

  90% {
    background: #333;
    text-shadow: none;
    box-shadow: none;
  }
  90.5% {
    background: inherit;
    text-shadow: inherit;
    box-shadow: inherit;
  }
}

.display-link span:nth-child(1) {
  margin-right: 10px;
}

.display-link span:nth-child(2) {
  margin-right: 10px;
}
