.screen-header {
  margin: 15px 0px 20px 0;
  display: flex;
  justify-content: space-between;
  color: #8672f8;
  text-shadow: 0 0 10px #8672f8, 0 0 15px #8672f8;
  align-items: center;
}

.screen-header__title span {
  font-size: 24px;
  font-weight: 600;
}

.screen-header__icons {
}

.screen-header__icons span {
  margin-left: 15px;
  font-size: 20px;
}
